<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Politics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="./css/main.css"
    />
    <!-- <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> versión antigua de vue-->
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="./js/main.js"></script>
    <script defer src="https://www.gstatic.com/charts/loader.js"></script>
    <script defer src="./js/chart_main.js"></script>
    <!-- FONT ASEWOME -->
    <script defer src="./node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
    <script defer src="./node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
    <script defer src="./node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="section" id="main_header">
        <h1 class="title">Los Santos Senate</h1>
      </div>
      <main>
        <div class="tabs is-centered is-boxed">
          <ul>
            <li @click="prueba()" v-if="page == 'Home'" class="is-active"><a @click="page = 'Home'"><span class="icon is-small"><i class="fas fa-house" aria-hidden="true"></i></span>Home</a></li>
            <li v-else ><a @click="page = 'Home'"><span class="icon is-small"><i class="fas fa-house" aria-hidden="true"></i></span>Home</a></li>
            <li v-if="page == 'Seats'" class="is-active"><a @click="page = 'Seats'"><span class="icon is-small"><i class="fas fa-chair" aria-hidden="true"></i></span>Seats</a></li>
            <li v-else ><a @click="page = 'Seats'"><span class="icon is-small"><i class="fas fa-chair" aria-hidden="true"></i></span>Seats</a></li>
            <li v-if="page == 'Election'" class="is-active"><a @click="page = 'Election'"><span class="icon is-small"><i class="fas fa-check-to-slot" aria-hidden="true"></i></span>Election</a></li>
            <li v-else ><a @click="page = 'Election'"><span class="icon is-small"><i class="fas fa-check-to-slot" aria-hidden="true"></i></span>Election</a></li>
            <li v-if="page == 'Senate Voting'" class="is-active"><a @click="page = 'Senate Voting', create_law_type_error = false"><span class="icon is-small"><i class="fas fa-landmark-flag" aria-hidden="true"></i></span>Senate Voting</a></li>
            <li v-else ><a @click="page = 'Senate Voting', create_law_type_error = false"><span class="icon is-small"><i class="fas fa-landmark-flag" aria-hidden="true"></i></span>Senate Voting</a></li>
            <li v-if="page == 'Executive Power'" class="is-active"><a @click="page = 'Executive Power'"><span class="icon is-small"><i class="fas fa-briefcase" aria-hidden="true"></i></span>Executive Power</a></li>
            <li v-else ><a @click="page = 'Executive Power'"><span class="icon is-small"><i class="fas fa-briefcase" aria-hidden="true"></i></span>Executive Power</a></li>
          </ul>
        </div>
        <div v-if="page == 'Home'">
          <div class="box">
            <p class="justified">
              Welcome to the Los Santos Senate Web, here you can vote in an
              Election for the seats on the senate, president and referendums,
              also if you are already a member of the senate or the executive you
              can suggest laws to be approved in the senate.
            </p>
          </div>
        </div>
        <div v-if="page == 'Seats'">
          <div class="box">
            <hr>
            <nav class="level is-mobile">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Left Senators</p>
                  <p class="title" id="left_senators">{{ideologies.result[0].left}}</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Center Senators</p>
                  <p class="title" id="center_senators">{{ideologies.result[0].center}}</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Right Senators</p>
                  <p class="title" id="right_senators">{{ideologies.result[0].right}}</p>
                </div>
              </div>
            </nav>
            <hr>
            <div class="party_data">
              <div class="box">
                <aside class="menu">
                  <p class="menu-label">
                    Main View
                  </p>
                  <ul class="menu-list">
                    <li v-if="active_party_page == -1"><a class="is-active">Seats View</a></li>
                    <li v-else @click="active_party_page = -1"><a>Seats View</a></li>
                  </ul>
                  <p class="menu-label">
                    Political Parties
                  </p>
                  <ul v-for="(party, i) in parties.result" class="menu-list">
                    <li v-if="active_party_page == i"><a class="is-active">{{party.name}}</a></li>
                    <li v-else @click="active_party_page = i, generatePartyPage(i)"><a>{{party.name}}</a></li>
                  </ul>
                </aside>
              </div>
              <div class="box">
                <div v-if="active_party_page != -1">
                  <div class="box">
                    <h2 class="subtitle">{{page_party_name}}</h2>
                    <p>{{page_party_ideology}}</p>
                  </div>
                  <div class="middle_grid">
                    <div class="box">
                      <p>{{page_party_members}}</p>
                    </div>
                    <div class="box">
                      <p>{{page_party_desc}}</p>
                    </div>
                  </div>
                </div>
                <div v-else>
                  <!--  ADD GRAPH OF SENATE  -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="page == 'Election'">
          <div v-if="is_election_day" class="box"> <!-- SI ES DIA DE ELECCIONES -->
            <h2 v-if="election == true">ELECTION DAY</h2>
            <h3 class="subtitle">Avariable candidates to elect: {{v_candidates.results.length}}</h3>
            <table class="table">
              <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Party</th>
                <th>Voted</th>
                <th>Number of votes</th>
              </tr>
              <tr v-for="candidate in v_candidates.results">
                <!-- 
                <td>{{candidate.name}}</td>
                <td>{{lastname}}</td>
                <td>{{party}}</td>
                <td>{{voted}}</td>
                <td>{{num_votes}}</td> -->
                <td>{{candidate.name}}</td>
                <td>{{candidate.lastname}}</td>
                <td>{{candidate.party}}</td>
                <td
                  @click="candidate.voted = !candidate.voted, already_voted = !already_voted, candidate.num_votes++"
                  v-if="candidate.voted == false && already_voted == false"
                >
                  <div class="button is-info">Vote</div>
                </td>
                <td v-else-if="candidate.voted == false && already_voted == true">
                  <div class="button is-danger">Voted</div>
                </td>
                <td @click="candidate.voted = !candidate.voted, already_voted = !already_voted, candidate.num_votes--" v-else>
                  <div class="button is-success">Voted</div>
                </td>
                <td>{{candidate.num_votes}}</td>
              </tr>
            </table>
          </div>
          <div v-else>
            <div class="box">
              <h1 class="subtitle">Not in election day</h1>
              <h1 class="text">Next election in {{days_until_next_election}} days...</h1>

            </div>
          </div>
          
        </div>
        <div v-if="page == 'Senate Voting'">
          <div v-if="is_senator" class="box">
            <div class="box">
              <h1 class="subtitle">Pending laws</h1>
              <table class="table">
                <tr>
                  <th>Law Name</th>
                  <th>Law Type</th>
                  <th>Proposed by</th>
                  <th>Read</th>
                  <th>For</th>
                  <th>Against</th>
                  <th>Abstencions</th>
                  <th>Active</th>
                </tr>
                <tr v-for="law in laws.result">
                  <td v-if="!law.is_signed">{{law.title}}</td>
                  <td v-if="!law.is_signed">{{law.type}}</td>
                  <td v-if="!law.is_signed">{{law.proposed_by}}</td>
                  <td v-if="!law.is_signed"><div class="button is-info" @click="reading_law_title = law.title, reading_law_type = law.type, reading_law_desc = law.desc, page = 'Law Reader'">Read</div></td>
                  <td v-if="!law.is_signed"><div v-if="law.already_voted == 0" @click="law.for++, law.already_voted = 1" class="button is-success is-light">{{law.for}}</div>
                    <div v-else-if="law.already_voted == 1" @click="law.for--, law.already_voted = 0" class="button is-success">{{law.for}}</div>
                    <div v-else class="button is-success is-light">{{law.for}}</div></td>
                  <td v-if="!law.is_signed"><div v-if="law.already_voted == 0" @click="law.against++, law.already_voted = 2" class="button is-danger is-light">{{law.against}}</div>
                    <div v-else-if="law.already_voted == 2" @click="law.against--, law.already_voted = 0" class="button is-danger">{{law.against}}</div>
                    <div v-else class="button is-danger is-light">{{law.against}}</div></td>
                  <td v-if="!law.is_signed"><div v-if="law.already_voted == 0" @click="law.abs++, law.already_voted = 3" class="button is-light">{{law.abs}}</div>
                    <div v-else-if="law.already_voted == 3" @click="law.abs--, law.already_voted = 0" class="button is-white">{{law.abs}}</div>
                    <div v-else class="button is-light">{{law.abs}}</div></td>
                  <td v-if="!law.is_signed"><div v-if="!law.in_active && !law.is_signed"  class="button is-warning">Pending Vote</div>
                    <div v-else class="button is-info">Pending Presidential Aproval</div></td>
                </tr>
              </table>
              <div class="button is-primary">Confirm Votes</div>
            </div>
            <!-- CREADOR DE LEYES -->
            <form class="box" id="law_creator">
              <div class="field">
                <label class="label">New Law</label>
                <div class="control">
                  <input id="form_law_title" class="input is-rounded" type="text" placeholder="5th Amendment" v-model="form_law_title"/>
                </div>
              </div>
              <div class="select is-info">
                <select id="form_law_type" name="form_law_type" v-model="form_law_type">
                  <option value="null" selected>Select Law Type</option>
                  <option value="Amendment">Amendment</option>
                  <option value="Bill">Bill</option>
                  <option value="National Law">National Law</option>
                  <option value="Regional Law">Regional Law</option>
                  <option value="District Law">District Law</option>
                </select>
              </div>
              <br>
              <br>
              <div class="control">
                <textarea id="form_law_desc" type="text" class="textarea" placeholder="Law Structure and descripcion" v-model="form_law_desc"></textarea>
              </div>
              <br>

              <div v-if="!create_law_type_error" @click="createLaw(form_law_title, form_law_desc, form_law_type)" class="button is-primary">Publish Law</div>
              <div v-else @click="createLaw(form_law_title, form_law_desc, form_law_type)" class="button is-danger">No Law Type Selected</div>
            </form>
          </div>
          <!-- ACTIVE LAWS -->
          
          <div class="box">
            <h1 class="subtitle">Active laws</h1>
            <table class="table">
              <tr>
                <th>Law Name</th>
                <th>Law Type</th>
                <th>Proposed by</th>
                <th>Read</th>
                <th v-if="is_senator">Propose revocation</th>
              </tr>
              <tr v-for="law in laws.result" >
                <td v-if="law.in_active && law.is_signed">{{law.title}}</td>
                <td v-if="law.in_active && law.is_signed">{{law.type}}</td>
                <td v-if="law.in_active && law.is_signed">{{law.proposed_by}}</td>
                <td v-if="law.in_active && law.is_signed"><div class="button is-info" @click="reading_law_title = law.title, reading_law_type = law.type, reading_law_desc = law.desc, page = 'Law Reader'">Read</div></td>
                <td v-if="law.in_active && law.is_signed && is_senator"><div class="button is-danger" @click="revocateLaw(law.title, law.desc)">Revoke</div></td>
              </tr>
            </table>
          </div>
        </div>
        <div v-if="page == 'Executive Power'">
          <p>DEBUG: Executive Power</p>
        </div>
        <div v-if="page == 'Law Reader'">
          <div class="box">
            <div class="box">
              <div class="subtitle">{{reading_law_title}}</div>{{reading_law_type}}</div>
            <div class="box" id="law_desc"><p>{{reading_law_desc}}</p></div>
            <br>
            <div class="button is-info" @click="page='Senate Voting'">Go Back</div>
          </div>
        </div>
      </main>
      <br>
      <div class="menu">
        <div v-if="debug_mode" class="tile is-ancestor">
          <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
              <h1 class="subtitle">Debug Menu:</h1> 
              <button v-if="!is_election_day" class="button is-danger" @click="is_election_day = !is_election_day">Not Election Day</button>
              <button v-else class="button is-success" @click="is_election_day = !is_election_day">Election Day</button>
              <br>
              <br>
              <button v-if="!is_senator" class="button is-danger" @click="is_senator = !is_senator">Not Senator</button>
              <button v-else class="button is-success" @click="is_senator = !is_senator">Senator</button>
              <br>
              <br>
              <button v-if="!is_president" class="button is-danger" @click="is_president = !is_president">Not President</button>
              <button v-else class="button is-success" @click="is_president = !is_president">President</button>
              <br>
              <br>
              <button v-if="!is_member_of_cabinet" class="button is-danger" @click="is_member_of_cabinet = !is_member_of_cabinet">Not Member of Cabinet</button>
              <button v-else class="button is-success" @click="is_member_of_cabinet = !is_member_of_cabinet">Member of Cabinet</button>
              <br>
              <br>
              <button class="button is-info" @click="createLaw('dbhawiudwa', 'daduwaniud', 'dhuaiuawoidwai')">Create Example Law</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div
      class="box"
      id="SenateParties"
      style="max-width: 700px; height: 400px"
    ></div> -->
  </body>
</html>
