<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Politics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="./css/main.css"
    />
    <!-- <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> versión antigua de vue-->
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="./js/main.js"></script>
    <script defer src="https://www.gstatic.com/charts/loader.js"></script>
    <script defer src="./js/chart_main.js"></script>
  </head>
  <body>
    <div class="block" id="app">
      <h1 class="title">Los Santos Senate</h1>
      <hr />
      <main>
        <div>
          <button class="button is-text" @click="page = 'Home'">Home</button>
          <button class="button is-text" @click="page = 'Seats'">Seats</button>
          <button class="button is-text" @click="page = 'Election'">
            Election
          </button>
          <button class="button is-text" @click="page = 'Senate Voting'">
            Senate Voting
          </button>
          <butto class="button is-text" @click="page = 'Executive Power'"
            >Executive Power</butto
          >
        </div>
        <div v-if="page == 'Home'">
          <p>DEBUG: Home</p>
          <p>
            Welcome to the Los Santos Senate Web, here you can vote in an
            Election for the seats on the senate, president and referendums,
            also if you are already a member of the senate or the executive you
            can suggest laws to be approved in the senate.
          </p>
        </div>
        <div v-if="page == 'Seats'">
          <p>DEBUG: Seats</p>
          <div class="box">I'm in a box.</div>
        </div>
        <div v-if="page == 'Election'">
          <h2 v-if="election == true">ELECTION DAY</h2>
          <h3 class="subtitle">Avariable candidates to elect: {{count}}</h3>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Last Name</th>
              <th>Party</th>
              <th>Voted</th>
              <th>Number of votes</th>
            </tr>
            <tr v-for="candidate in v_candidates.results">
              <!-- <td>{{candidate.name}}</td>
                            <td>{{lastname}}</td>
                            <td>{{party}}</td>
                            <td>{{voted}}</td>
                            <td>{{num_votes}}</td> -->
              <td>{{candidate.name}}</td>
              <td>{{candidate.lastname}}</td>
              <td>{{candidate.party}}</td>
              <td
                @click="vote"
                v-if="candidate.voted == false && already_voted == false"
              >
                <div class="button is-info">Vote</div>
              </td>
              <td v-else-if="candidate.voted == false && already_voted == true">
                <div class="button is-danger">Already Voted</div>
              </td>
              <td v-else>
                <div class="button is-success">Voted</div>
              </td>
              <td>{{candidate.num_votes}}</td>
            </tr>
          </table>
        </div>
        <div v-if="page == 'Senate Voting'">
          <p>DEBUG: Senate Voting</p>

          <!-- CREADOR DE LEYES -->
          <form class="box">
            <div class="field">
              <label class="label">Law title</label>
              <div class="control">
                <input
                  class="input"
                  type="law_title"
                  placeholder="5th Amenment"
                />
              </div>
            </div>

            <div class="field">
              <label class="label"></label>
              <div class="control">
                <input
                  class="input"
                  type="desc"
                  placeholder="Law Structure and descripcion"
                />
              </div>
            </div>

            <button class="button is-primary">Publish Law</button>
          </form>
        </div>
        <div v-if="page == 'Executive Power'">
          <p>DEBUG: Executive Power</p>
        </div>
      </main>
    </div>
    <div
      class="box"
      id="SenateParties"
      style="max-width: 700px; height: 400px"
    ></div>
  </body>
</html>
