@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

h1 {
  text-align: center;
}

.box {
  text-align: center;
}

.justified {
  text-align: justify;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.party_data {
  display: grid;
  grid-template-columns: 220px auto;
  gap: 10px;
}

.menu {
  text-align: left;
  grid-row-start: 1;
  grid-row-end: 1;
}

.middle_grid {
  display: grid;
  grid-template-columns: 220px auto;
  gap: 10px;

}

.center_grid {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 10px;

}
.padding_centered {
  padding-left: 200px;
  padding-right: 200px;
}

.logo {
  padding-bottom: 0px;
  width: 140px;
}

#main_title {
  font-weight: bold;
  color: black;
  font-size: 100px;
  padding-right: 270px;
}

#law_creator {
  text-align: justify;
}

#law_desc {
  text-align: justify;
  white-space: pre-line;
}

#left_senators {
  color: darkred;
}

#center_senators {
  color: grey;
}

#right_senators {
  color: darkblue;
}

#main_header {
  background-image: url('../img/town_hall.png');
  border-style: inset;
  border-bottom-right-radius: 445px 125px;
}