@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

h1 {
  text-align: center;
}

.box {
  text-align: center;
}

.justified {
  text-align: justify;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.ministerie {
  background-color: palegoldenrod;
  border: 2px solid darkgrey;
  border-radius: 12px;
  margin: 4px;
  transition: all 0.4s;
}

.ministerie:hover {
  background-color: white;
  border: 2px solid black;
  border-radius: 12px;
  transition: all 0.4s;

}

.separator {
  margin-right: auto;
  margin-left: auto;
}

.flex_ministeries {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.party_data {
  display: grid;
  grid-template-columns: 220px auto;
  gap: 10px;
}

.dual_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px
}

.menu {
  text-align: left;
  grid-row-start: 1;
  grid-row-end: 1;
}

.middle_grid {
  display: grid;
  grid-template-columns: 220px auto;
  gap: 10px;

}

.button.is-info {
  transition: all 1s;
}

.button.is-info:hover {
  background-color: darkcyan;
  transition: all 0.8s;
}

.full_name_box {
  background-color: white;
  border-radius: 5px;
  border-bottom-right-radius: 220px 80px;
  margin-right: 650px;
  align-self: center;
}

.full_name_display {
  text-align: left;
  padding-left: 15px;
}


.center_grid {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 10px;

}

.padding_centered {
  padding-left: 200px;
  padding-right: 200px;
}

.logo {
  padding-bottom: 0px;
  width: 140px;
}

#main_title {
  font-weight: bold;
  color: black;
  font-size: 100px;
  padding-right: 270px;
}

#law_creator {
  text-align: justify;
}

#law_desc {
  text-align: justify;
  white-space: pre-line;
}

#left_senators {
  color: darkred;
}

#center_senators {
  color: grey;
}

#right_senators {
  color: darkblue;
}

#main_header {
  background-image: url('../img/town_hall.png');
  border-style: inset;
  border-bottom-right-radius: 22rem 10rem;
}